bin/Debug/
CustomGUI/bin/Debug/
AdskConstructionCloudBreakdown/bin/
AdskConstructionCloudBreakdown/obj/
ACC_classStructureTester/bin/
ACC_classStructureTester/obj/
CustomGUI/obj/
CustomGUI/bin/
BimProjectSetupCLI/obj/Debug/
BimProjectSetupCommon/obj/Debug/
CustomBIMFromCSV/obj/Debug/
ForgeBimApi/obj/Debug/
packages/
.vs/BimProjectSetupTool/DesignTimeBuild/.dtbcache.v2
.vs/BimProjectSetupTool/v16/.suo
AdskConstructionCloudBreakdown/packages.config
*.user
.vs/BimProjectSetupTool/v16/.suo
BimProjectSetupCLI/BimProjectSetupCLI.csproj.user
BimProjectSetupCLI/obj/Debug/Autodesk.BimProjectSetup.exe
BimProjectSetupCLI/obj/Debug/Autodesk.BimProjectSetup.pdb
BimProjectSetupCLI/obj/Debug/BimProjectSetupCLI.csproj.CopyComplete
BimProjectSetupCLI/obj/Debug/BimProjectSetupCLI.csproj.CoreCompileInputs.cache
BimProjectSetupCLI/obj/Debug/BimProjectSetupCLI.csproj.FileListAbsolute.txt
BimProjectSetupCLI/obj/Debug/BimProjectSetupCLI.csprojAssemblyReference.cache
BimProjectSetupCLI/obj/Debug/DesignTimeResolveAssemblyReferences.cache
BimProjectSetupCLI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BimProjectSetupCommon/obj/Debug/Autodesk.BimProjectSetup.Common.dll
BimProjectSetupCommon/obj/Debug/Autodesk.BimProjectSetup.Common.pdb
BimProjectSetupCommon/obj/Debug/BimProjectSetupAPI.Properties.Resources.resources
BimProjectSetupCommon/obj/Debug/BimProjectSetupCommon.csproj.CoreCompileInputs.cache
BimProjectSetupCommon/obj/Debug/BimProjectSetupCommon.csproj.FileListAbsolute.txt
BimProjectSetupCommon/obj/Debug/BimProjectSetupCommon.csproj.GenerateResource.cache
BimProjectSetupCommon/obj/Debug/BimProjectSetupCommon.csprojAssemblyReference.cache
BimProjectSetupCommon/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
bin/Debug/Autodesk.BimProjectSetup.Common.dll
bin/Debug/Autodesk.BimProjectSetup.Common.dll.config
bin/Debug/Autodesk.BimProjectSetup.Common.pdb
bin/Debug/Autodesk.BimProjectSetup.exe
bin/Debug/Autodesk.BimProjectSetup.exe.config
bin/Debug/Autodesk.BimProjectSetup.pdb
bin/Debug/Autodesk.Forge.BIM360.dll
bin/Debug/Autodesk.Forge.BIM360.dll.config
bin/Debug/Autodesk.Forge.BIM360.pdb
bin/Debug/Autodesk.Forge.dll
bin/Debug/CustomBIMFromCSV.exe
bin/Debug/CustomBIMFromCSV.exe.config
bin/Debug/CustomBIMFromCSV.pdb
bin/Debug/Newtonsoft.Json.dll
bin/Debug/Newtonsoft.Json.xml
bin/Debug/NLog.config
bin/Debug/NLog.dll
bin/Debug/NLog.xml
bin/Debug/RestSharp.dll
bin/Debug/RestSharp.xml
bin/Debug/Log/logImportant.txt
bin/Debug/Log/logInfo.txt
bin/Debug/sample/BIM360_Custom_Template.csv
bin/Debug/sample/BIM360_Custom_Template.txt
bin/Debug/sample/BIM360_Custom_Template.xlsx
bin/Debug/sample/BIM360_Custom_Template_google.csv
bin/Debug/sample/BIM360_Custom_Template_not_work.csv
bin/Debug/sample/BIM360_Custom_Template_test_dos.csv
bin/Debug/sample/BIM360_Custom_Template_test_mac.csv
bin/Debug/sample/BIM360_Custom_Template_test_zeit.csv
bin/Debug/sample/BIM360_Projects_CF_Template.csv
bin/Debug/sample/BIM360_Projects_Template.csv
bin/Debug/sample/BIM360_ProjectUser_Template.csv
bin/Debug/sample/BIM360_Service_Template.csv
bin/Debug/sample/Custom.bat
bin/Debug/sample/ImportProjects.bat
bin/Debug/sample/ImportProjectsCF.bat
bin/Debug/sample/ImportServices.bat
bin/Debug/sample/ImportUsers.bat
CustomBIMFromCSV/obj/Debug/CustomBIMFromCSV.csproj.CopyComplete
CustomBIMFromCSV/obj/Debug/CustomBIMFromCSV.csproj.CoreCompileInputs.cache
CustomBIMFromCSV/obj/Debug/CustomBIMFromCSV.csproj.FileListAbsolute.txt
CustomBIMFromCSV/obj/Debug/CustomBIMFromCSV.csprojAssemblyReference.cache
CustomBIMFromCSV/obj/Debug/CustomBIMFromCSV.exe
CustomBIMFromCSV/obj/Debug/CustomBIMFromCSV.exe.config
CustomBIMFromCSV/obj/Debug/CustomBIMFromCSV.pdb
ForgeBimApi/obj/Debug/Autodesk.Forge.BIM360.dll
ForgeBimApi/obj/Debug/Autodesk.Forge.BIM360.pdb
ForgeBimApi/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ForgeBimApi/obj/Debug/ForgeBimApi.csproj.CoreCompileInputs.cache
ForgeBimApi/obj/Debug/ForgeBimApi.csproj.FileListAbsolute.txt
ForgeBimApi/obj/Debug/ForgeBimApi.csprojAssemblyReference.cache
packages/Autodesk.Forge.1.7.0/.signature.p7s
packages/Autodesk.Forge.1.7.0/Autodesk.Forge.1.7.0.nupkg
packages/Autodesk.Forge.1.7.0/lib/net452/Autodesk.Forge.dll
packages/Autodesk.Forge.1.7.0/lib/netstandard2.0/Autodesk.Forge.dll
packages/Newtonsoft.Json.12.0.2/.signature.p7s
packages/Newtonsoft.Json.12.0.2/LICENSE.md
packages/Newtonsoft.Json.12.0.2/Newtonsoft.Json.12.0.2.nupkg
packages/Newtonsoft.Json.12.0.2/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.2/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.2/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.2/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.2/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.2/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.2/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.2/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.2/lib/netstandard1.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.2/lib/netstandard1.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.2/lib/netstandard1.3/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.2/lib/netstandard1.3/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.2/lib/netstandard2.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.2/lib/netstandard2.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.xml
packages/NLog.4.6.3/.signature.p7s
packages/NLog.4.6.3/NLog.4.6.3.nupkg
packages/NLog.4.6.3/lib/monoandroid44/NLog.dll
packages/NLog.4.6.3/lib/monoandroid44/NLog.xml
packages/NLog.4.6.3/lib/net35/NLog.dll
packages/NLog.4.6.3/lib/net35/NLog.xml
packages/NLog.4.6.3/lib/net40-client/NLog.dll
packages/NLog.4.6.3/lib/net40-client/NLog.xml
packages/NLog.4.6.3/lib/net45/NLog.dll
packages/NLog.4.6.3/lib/net45/NLog.xml
packages/NLog.4.6.3/lib/netstandard1.3/NLog.dll
packages/NLog.4.6.3/lib/netstandard1.3/NLog.xml
packages/NLog.4.6.3/lib/netstandard1.5/NLog.dll
packages/NLog.4.6.3/lib/netstandard1.5/NLog.xml
packages/NLog.4.6.3/lib/netstandard2.0/NLog.dll
packages/NLog.4.6.3/lib/netstandard2.0/NLog.xml
packages/NLog.4.6.3/lib/sl4/NLog.dll
packages/NLog.4.6.3/lib/sl4/NLog.xml
packages/NLog.4.6.3/lib/sl5/NLog.dll
packages/NLog.4.6.3/lib/sl5/NLog.xml
packages/NLog.4.6.3/lib/wp8/NLog.dll
packages/NLog.4.6.3/lib/wp8/NLog.xml
packages/NLog.4.6.3/lib/xamarinios10/NLog.dll
packages/NLog.4.6.3/lib/xamarinios10/NLog.xml
packages/NLog.Config.4.6.3/.signature.p7s
packages/NLog.Config.4.6.3/NLog.Config.4.6.3.nupkg
packages/NLog.Config.4.6.3/content/NLog.config
packages/NLog.Config.4.6.3/contentFiles/any/any/NLog.config
packages/NLog.Config.4.6.3/tools/Install.ps1
packages/NLog.Schema.4.6.3/.signature.p7s
packages/NLog.Schema.4.6.3/NLog.Schema.4.6.3.nupkg
packages/NLog.Schema.4.6.3/content/NLog.xsd
packages/NLog.Schema.4.6.3/contentFiles/any/any/NLog.xsd
packages/RestSharp.106.6.9/.signature.p7s
packages/RestSharp.106.6.9/RestSharp.106.6.9.nupkg
packages/RestSharp.106.6.9/lib/net452/RestSharp.dll
packages/RestSharp.106.6.9/lib/net452/RestSharp.xml
packages/RestSharp.106.6.9/lib/netstandard2.0/RestSharp.dll
packages/RestSharp.106.6.9/lib/netstandard2.0/RestSharp.xml
Bim360Install/bin/
Bim360Install/Images/
Bim360Install/obj/Debug/Bim360Install.wapproj.CoreCompileInputs.cache
Bim360Install/obj/
